name: Release

on:
  push:
    branches: [main]

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22.1.0
          registry-url: 'https://registry.npmjs.org'

      - name: Building & Releasing
        run: |
          npm ci
          npm run build
          chmod -R 755 ./package/
          cd package
          npm publish
